.bg-default-image {
    background-image: url("/images/default.jpg");
    background-size: 100%;
    height: 210px;
    text-shadow: 2px 2px 8px #fff;
}

.logo {
    text-shadow: 2px 2px navy;
    font-weight: bolder;
}

.active {
    background-color: navy;
}
UserProvider{
    overflow: hidden;
}